/**
 * modification of el-component
 */
.el-form-item__label{
  line-height: 36px;
}
.el-form-item__content{
  line-height: 36px;
}
.el-form-item input{
  font-family: "Noto Serif SC", sans-serif;
}

.el-input__inner{
  font-size: 15px;
}
.el-input--small .el-input__inner{
  font-size: 14px
}
.el-input__icon{
  line-height: 36px;
}

.el-collapse-item__content{
  padding-bottom: 0;
}

.form-submit{
  float: right;
}

.el-button{
  font-family: sans-serif;
}
.el-button [class*=el-icon-]+span{
  margin-left: 5px;
}

.el-button--success {
  color: #fff;
  background-color: #13ce66;
  border-color: #13ce66;
}
.el-button--success:focus,
.el-button--success:hover {
  background: #42d885;
  border-color: #42d885;
  color: #fff;
}
.el-button--success.is-disabled,
.el-button--success.is-disabled:active,
.el-button--success.is-disabled:focus,
.el-button--success.is-disabled:hover {
  color: #fff;
  background-color: #89e7b3;
  border-color: #89e7b3;
}
.el-button--warning {
  color: #fff;
  background-color: #ffba00;
  border-color: #ffba00;
}
.el-button--warning:focus,
.el-button--warning:hover {
  background: #ffc833;
  border-color: #ffc833;
  color: #fff;
}
.el-button--warning.is-active,
.el-button--warning:active {
  background: #e6a700;
  border-color: #e6a700;
  color: #fff;
}
.el-button--warning.is-disabled,
.el-button--warning.is-disabled:active,
.el-button--warning.is-disabled:focus,
.el-button--warning.is-disabled:hover {
  color: #fff;
  background-color: #ffdd80;
  border-color: #ffdd80;
}
.el-button--primary {
  color: #fff;
  background-color: #1890ff;
  border-color: #1890ff;
}
.el-button--primary:focus,
.el-button--primary:hover {
  background: #46a6ff;
  border-color: #46a6ff;
  color: #fff;
}
.el-button--primary.is-disabled,
.el-button--primary.is-disabled:active,
.el-button--primary.is-disabled:focus,
.el-button--primary.is-disabled:hover {
  color: #fff;
  background-color: #8cc8ff;
  border-color: #8cc8ff;
}
.el-button--danger {
  color: #fff;
  background-color: #ff4949;
  border-color: #ff4949;
}
.el-button--danger:focus,
.el-button--danger:hover {
  background: #ff6d6d;
  border-color: #ff6d6d;
  color: #fff;
}
.el-button--danger.is-active,
.el-button--danger:active {
  background: #e64242;
  border-color: #e64242;
  color: #fff;
}
.el-button--danger.is-disabled,
.el-button--danger.is-disabled:active,
.el-button--danger.is-disabled:focus,
.el-button--danger.is-disabled:hover {
  color: #fff;
  background-color: #ffa4a4;
  border-color: #ffa4a4;
}

.el-form-item{
  margin-bottom: 18px;
}

.el-range-editor.el-input__inner{
  padding: 10px 16px;

  .el-range__icon, .el-range__close-icon{
    line-height: 1;
  }
  .el-range-input{
    height: 20px;
    width: 80px;
  }
  .el-range-separator{
    height: 22px;
    width: 2em;
  }
}

.el-textarea {
  textarea{
    padding-bottom: 20px;
  }
  .el-input__count{
    line-height: 12px;
    bottom: 7px;
  }
}

input[type=password]{
  //font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

/**
 * custom input
 */

%nep-button {
  font-size: 16px;
  cursor: pointer;
  padding: 6px 18px;
  border: none;
  border-radius: 5px;

  &:hover {
    opacity: 0.9;
  }
}

.nep-button-primary{
  @extend %nep-button;
  color: #fff;
  background-color: #0097e6;

  &:hover, &:focus{
    color: #fff;
    background-color: #0097e6;
  }
}
.nep-button-warn{
  @extend %nep-button;
  color: #fff;
  background-color: #0097e6;
  &:hover, &:focus{
    color: #fff;
    background-color: #0097e6;
  }
}
.nep-button-common{
  @extend %nep-button;
  color: #909399;
  background-color: #fff;
  border: 1px solid #d3d4d6;

  &:hover, &:focus{
    background-color: #f4f4f5;
    color: #8b8b8b;
    border: 1px solid #d3d4d6;
  }
}

@media (max-width: 576px) {
  .el-pagination{
    .el-pagination__sizes{
      display: none;
    }
  }
}


