.el-form-item__label{
  line-height: 36px;
}
.el-form-item__content{
  line-height: 36px;
}

.el-input__inner{
  font-size: 15px;
  padding: 10px 16px;
  height: 36px;
}

.form-submit{
  float: right;
}

.el-button{
  font-size: 16px;
  padding: 6px 18px;
  border-radius: 5px;
  background-color: #0097e6;
  line-height: unset;

  &:hover{
    opacity: 0.9;
  }
}

.el-form-item{
  margin-bottom: 18px;
}

