/**
 * 重载挂在在#app外的element-ui样式
 */
.el-dropdown-menu{
  .el-dropdown-menu__item{
    padding: 0;

    span{
      padding: 0 20px;
      display: inline-block;
      height: 100%;
      width: 100%;
    }
    a{
      display: inline-block;
      width: 100%;
    }
  }
}

.el-popover{
  .friend-input{
    font-family: "Noto Serif SC", serif;
    font-size: 14px;
    display: block;
    margin: 2px 0;
    color: #8b8b8b;
    input{
      border: 0;
      font-size: 14px;
      font-family: "Noto Serif SC", serif;
    }
    &:hover{
      box-shadow: 0 0 2px 1px var(--tertiary-blue);
    }
  }
}

.el-message-box{
  .el-message-box__btns button{
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .el-message-box.responsive{
    max-width: 360px;
  }
}


