@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@500&display=swap');

@font-face {
    font-family: 'Play';
    src: url("../../assets/fonts/Play-Regular.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.serif-sc{
    font-family: "Noto Serif SC", sans-serif;
}

.pointer{
    cursor: pointer;
}

button:focus,input:focus,textarea:focus{
    outline: none;
}

:root{
    --text-color-lightest: #e7e9ec;
    --text-color-darker: #2e2e2e;
    --text-color-dark:#494949;
    --text-color-gray:#8b8b8b;
    --text-color-dark-gray:#727272;
    --text-color-light-gray: #c6c6c6;
    --backdrop-color: rgba(42, 42, 42, 0.69);

    --primary-blue: #0a69aa;
    --secondary-blue: #5699d2;
    --tertiary-blue: #d8ebf9;
    --primary-green: #4996a2;
    --secondary-green: #71c2cc;
}

li {
    list-style: none;
}

a{text-decoration:none;}
a:hover{text-decoration:none;}
a:visited{text-decoration:none;color:#000}

.sharp-header:before{
    content: "# ";
    color: var(--secondary-blue);
}
