@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@500&display=swap');

@font-face {
    font-family: 'Play';
    src: url("../../assets/fonts/Play-Regular.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.serif-sc{
    font-family: "Noto Serif SC", sans-serif;
}

.pointer{
    cursor: pointer;
}

button:focus,input:focus,textarea:focus{
    outline: none;
}

*{
    outline: none;
}


:root{
    --text-color-lightest: #e7e9ec;
    --text-color-darker: #2e2e2e;
    --text-color-dark:#494949;
    --text-color-gray:#8b8b8b;
    --text-color-dark-gray:#727272;
    --text-color-light-gray: #c6c6c6;
    --backdrop-color: rgba(42, 42, 42, 0.69);

    --primary-blue: #0a69aa;
    --secondary-blue: #5699d2;
    --tertiary-blue: #d8ebf9;
    --dark-green: #2f841b;
    --primary-green: #4996a2;
    --secondary-green: #71c2cc;

    --vscode-class: #4ec9b0;
    --vscode-yellow: #DCD2A1;
    --vscode-light-green: #b8d7a3;
    --vscode-orange: #FFC66D;
    --vscode-sky-blue: #67cdfe;
    --vscode-annotation: #CC9393;
    --vscode-string: #D69D85;
    --vscode-purple: #9393CC;
    --vscode-comment: #57a64a;
    --vscode-keyword: #569cd6;

}

li {
    list-style: none;
}

a{text-decoration:none;color: #666}
a:hover{text-decoration:none;}
a:visited{text-decoration:none;color:#666}

.sharp-header:before{
    content: "# ";
    color: var(--secondary-blue);
}
.full-width{
    width: 100%;
}

.nep-scroll::-webkit-scrollbar{
     height: 4px;
}
.nep-scroll::-webkit-scrollbar-thumb {
     background-color: rgba(0,0,0,.1);
     border-radius: 10px;
 }
.nep-scroll::-webkit-scrollbar-track {
     border-radius: 10px;
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
}

.common-flex{
    width: 100%;
    height: 100%;
    padding-top: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
}
