::v-deep {
  .el-collapse-item__header{
    font-size: 15px;
  }
  .el-form-item__label {
    text-align: right;
    font-size: 15px;
  }
  .el-tabs__item{
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  ::v-deep {
    .el-form-item__label {
      padding-bottom: 0;
    }
  }
}
